.modal{
    transition:0.5s;
    padding:0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.open{
    opacity:1;
    visibility:visible;
}
.modal.close{
    opacity:0;
    visibility:hidden;
}
.modal .back-drop {
    background-color: rgba(66, 66, 66, 0.6);
  
}
.modal.open .back-drop{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.open .back-drop,
.modal.open .content-modal {
    visibility: visible;
    opacity: 1;

}
.modal .content-modal {
    position: relative;
    z-index: 400;
}

.modal .back-drop .box-loading {
    transition:0.5s;
    user-select: none;
    font-weight: bold;
    color: rgb(0, 255, 255);
    font-size: 20px;
    text-align: center;
}

.modal .back-drop  .box-loading.start{
    display:block;
    opacity:1;
    visibility:visible;
    animation:startSpinner 1s reverse;
}
.modal .back-drop  .box-loading.stop{
    opacity:0;
    visibility:hidden;
    animation:stopSpinner 1s;
}
@keyframes startSpinner{
    0%{
        opacity:0;
        visibility:hidden;
    }
    100%{
        opacity:1;
        visibility:visible;
    }
}
.modal .back-drop  .box-loading .spinner {
    width: 30px;
    height: 30px;
    border-width: 3px;
    border-color: rgba(0, 255, 255, 0.2);
    border-top-color: rgb(0, 255, 255);
    margin-bottom: 25px;
}
