
        .item-news {
            box-sizing: border-box;
            box-shadow: 0 0 10px 1px rgba(66, 235, 0, 0.4);
            border-radius: 6px;
            overflow: hidden;
        }

        .item-news .pic-holder {
            width: 100%;
        }

        .item-news .pic-holder .pic-news {
            width: 100%;
            height: auto;
        }
        .item-news .sender-box-container{
            margin:5px;
        }
        .sender-box-container{
            font-size: 17px;
            font-weight: bold;
            color: #333;
            cursor: pointer;
            display: inline-block;
            user-select: none;
        }
        .sender-box-container .sender-pic{
            display: inline-block;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            vertical-align: middle;
            border: 2px solid rgb(172, 172, 172);
            box-sizing: border-box;
            padding: 3px;
        }
        .sender-box-container .no-pic{
            background: url("../assets/images/icons/user-male.png") no-repeat 50%;
            background-size: 70%;
        }

        .sender-box-container .sender-pic img {
            width: 100%;
            height: 100%;
        }
        .sender-box-container .sender-name {
            margin: 0 5px;
            vertical-align: middle;
        }
        
        .item-news .ditale-box {
            padding: 10px 50px;
        }

        .item-news .title-news {
            margin: 0;
            font-size: 20px;
            font-weight: bold;
            color: #111;
        }

        .item-news .mini-describe {
            /* margin: 5px 10px; */
            margin: 5px 0px;
            color: #444;
        }
        .item-news .describe {
            color: #222;
            line-height: 27px;
            font-weight: bold;
            font-size:17px;
        }
        
        .item-news .see-more-ditale{
            transition:0.3s;
            display:inline-block;
            margin:5px;
            color:rgb(8, 131, 231);
            font-weight: bold;
        }
        .item-news .see-more-ditale:hover{
            color:rgb(9, 84, 146);
        }
        .item-news .more-box {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        .item-news .more-box .icon {
            border: 1px solid red;
            opacity: 1;
        }

        .item-news .more-box .liked {
            background-color: red;
        }

        .item-news .ditale-more-box {
            margin: 20px 0 5px;
            display: flex;
        }

        .item-news .ditale-more-box .split {
            margin-left: 5px;
        }

        .item-news .ditale-more-box .counter-box {
            font-weight: bold;
            color: #555;
        }

        .item-news .ditale-more-box .counter-box .text {
            letter-spacing: 1px;
            vertical-align: middle;
        }

        .item-news .ditale-more-box .counter-box .counter {
            margin: 0 5px;
            vertical-align: middle;
            font-weight: 900;
            font-size: 18px;
        }

        .item-news .more-box .more-box-item:first-child,
        .item-news .more-box .more-box-item:last-child {
            margin: 0;
        }
        .item-news .more-box .more-box-item {
            margin: 0 5px;
            cursor: pointer;
        }
        .see-more{
            color:rgb(0, 81, 255);
            cursor: pointer;
            margin:0 8px;
            display:inline-block;
        }
.comment-text-box{
    border-top: 2px solid rgb(156, 156, 156);
    display: flex;
    align-items: center;
    padding:10px 0 5px;
    margin:0 5px;
}
.comment-text-box .comment-text{
    transition:0.3s;
    resize: none;
    box-sizing: border-box;
    flex:1;
    //max-height:34px;
    font-size:14px;
    border:none;
}
.comment-text-box .comment-send{
    opacity:1;
    width:20px;
    height:20px;
    border-width:3px;
    border-style:solid ;
    /* background-color: blue; */
    margin:0 5px;
}
.comment-send.spinner{
    border-top-color: rgb(0, 26, 110);
    border-top-color: rgba(0, 68, 255, 0.486);
}
