.span_btn {
  padding: 20px;
  background-color: #1e43a8;
  color: white;
  border-radius: 5px;

}
.span-deactive-btn{
  padding: 20px;
  background-color: #6683d5;
  color: white;
  border-radius: 5px;
}

.item-gozaresh-server {
  position: relative;
}

.item-gozaresh-server .icon-checkbox {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2000;
  opacity: 1;
  visibility: visible;
}

.item-gozaresh-server .icon-checkbox.hidden {
  opacity: 0;
  visibility: hidden;
}