.slider-owner{
    position:relative;
}
.user-select-none,.user-select-none *{
    user-select: none;
}
.slider-owner > .grid{
    /* display:none; */
    justify-content: flex-end;
    overflow: hidden;
    position:relative;
    padding:30px;
}
.slider-owner > .grid > .grid-item:hover{
    transform:translateY(-5px);
    box-shadow: 0 0 30px 1px rgba(0, 47, 109, 0.3);
}
.slider-owner > .grid > .grid-item{
    flex:none;
    margin: 0;
    transition: 0.5s;
    transform:translateY(0);
    box-shadow: 0 0 15px 1px rgba(0, 18, 41, 0.1);
}
.slider-owner > .grid > .grid-item.hidden{
    display:none;
}
.slider-owner .btn-slider{
    position: absolute;
    top:50%;
    transform:translateY(-100%);
    padding:5px;
    //border-radius:2em;
    //background-color: red;
    //color:white;
    cursor:pointer;
    width:30px;
    height:60px;
    background:no-repeat 0 0;
    background-size: 100%;
}
.slider-owner .left-btn{
    left:0;
    transform:translate(-150%,-100%);
    background-image:url(/nit/image/icons/left-direction.png);

}
.slider-owner .right-btn{
    right:0;
    transform:translate(150%,-100%);
    background-image:url(/nit/image/icons/right-direction.png);
}
.box-btn-container{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:20px 0;
}
.box-btn-container .btns-box {
    display:flex;
    flex-direction: row-reverse;
}
.box-btn-container .btns-box li{
    width:30px;
    height:7px;
    background-color:#9fa3b1;
    box-shadow: 0 0 3px 1px #6f738077;
    border-radius: 2em;
    margin:0 5px;
    cursor:pointer;
    transition:0.3s;
}
.box-btn-container .btns-box li.active,.box-btn-container .btns-box li:hover{
    background-color:#042ca3;
    box-shadow: 0 0 5px 1px #032a9ec7;
}