.text-box-tab {
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.text-box-tab.active .line-cursor {
  visibility: visible;
  opacity: 1;
}

.text-box-tab .empty-text {
  margin: 3px;
  padding: 3px 0;
  float: left;
}

.text-box-tab .line-cursor {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  margin: 0 2px;
  padding: 3px 0;
  font-size: 20px;
  font-weight: 900;
  float: left;
  opacity: 1;
  -webkit-animation: Show-Off-Text-Line 1s infinite;
          animation: Show-Off-Text-Line 1s infinite;
}

.text-box-tab .tab-entity {
  -webkit-animation: OpenEntity 0.9s;
          animation: OpenEntity 0.9s;
  float: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #929292;
  padding: 3px 5px;
  margin: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  cursor: default;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  visibility: visible;
  opacity: 1;
}

.text-box-tab .tab-entity:hover {
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.text-box-tab .tab-entity.remove {
  opacity: 0;
  visibility: hidden;
}

.text-box-tab .text-tab-entity {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 18px;
  vertical-align: middle;
  padding: 0 2px;
  overflow: hidden;
  display: inline-block;
}

.text-box-tab .close-tab-entity {
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 0 2px;
  font-weight: 900;
  font-size: 25px;
  position: relative;
}

.text-box-tab .close-tab-entity::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "+";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes Show-Off-Text-Line {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Show-Off-Text-Line {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes OpenEntity {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes OpenEntity {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
/*# sourceMappingURL=text-box-tab.css.map */