#footer {
    background-color: rebeccapurple;
    padding: 50px 80px;
    color: rgb(221, 221, 221);

    .footer-box {
        .section-view {
            display: flex;
            justify-content: space-between;
            .item-view {
                margin: 0 10px;
                flex: 1;
                .title {
                    margin: 0;
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                    border-bottom: 2px solid rgb(177, 177, 177);
                }
            }
        }
    }
    .box-list-container {
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
        a {
            transition: 0.3s;
            color: rgb(187, 187, 187);
            &:hover {
                color: white;
            }
        }
        .box-list {
            .item-list {
                font-size: 18px;
                font-weight: bold;
                padding: 5px 0;
            }
        }
    }
    .galery-footer {
        //display: flex;
        //flex-wrap: nowrap;
        text-align: center;
        .galery-item {
            display: inline-block;
            max-width: 31%;
            box-sizing: border-box;
            padding: 2px;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .contact-us {
        .item-cu {
            box-sizing: border-box;
            padding: 5px 0;
            .item-cu-box {
                color: white;
                display: flex;
                cursor: pointer;
                transition: 0.2s;
                opacity: 0.7;
                &:hover {
                    opacity: 1;
                }
                .icon-box {
                    width: 50px;
                    box-sizing: border-box;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .ditale-box {
                    flex: 1;
                    &>span {
                        font-size: 17px;
                        display: block;
                    }
                    .up-text {
                        color: rgba(184, 184, 184, 0.726);
                        margin-bottom: 5px;
                    }
                    .down-text {
                    }
                    .relation-box-icons{
                        display: flex;
                        justify-content: flex-start;
                        a{
                            display: block;
                            margin-left:5px ;
                        }
                        span{
                            background-color: white;
                        }
                    }
                }
                
            }
        }
    }
}
