#footer {
  background-color: #1c1c1c;
  padding: 50px 80px;
  color: #dddddd;
}

#footer .footer-box .section-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .footer-box .section-view .item-view {
  margin: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#footer .footer-box .section-view .item-view .title {
  margin: 0;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #b1b1b1;
}

#footer .box-list-container {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#footer .box-list-container a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #bbbbbb;
}

#footer .box-list-container a:hover {
  color: white;
}

#footer .box-list-container .box-list .item-list {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
}

#footer .galery-footer {
  text-align: center;
}

#footer .galery-footer .galery-item {
  display: inline-block;
  max-width: 31%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px;
}

#footer .galery-footer .galery-item img {
  width: 100%;
  height: auto;
}

#footer .contact-us .item-cu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 0;
}

#footer .contact-us .item-cu .item-cu-box {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.7;
}

#footer .contact-us .item-cu .item-cu-box:hover {
  opacity: 1;
}

#footer .contact-us .item-cu .item-cu-box .icon-box {
  width: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .contact-us .item-cu .item-cu-box .icon-box img {
  width: 100%;
  height: auto;
}

#footer .contact-us .item-cu .item-cu-box .ditale-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#footer .contact-us .item-cu .item-cu-box .ditale-box > span {
  font-size: 17px;
  display: block;
}

#footer .contact-us .item-cu .item-cu-box .ditale-box .up-text {
  color: rgba(184, 184, 184, 0.726);
  margin-bottom: 5px;
}

#footer .contact-us .item-cu .item-cu-box .ditale-box .relation-box-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#footer .contact-us .item-cu .item-cu-box .ditale-box .relation-box-icons a {
  display: block;
  margin-left: 5px;
}

#footer .contact-us .item-cu .item-cu-box .ditale-box .relation-box-icons span {
  background-color: white;
}
/*# sourceMappingURL=Footer.css.map */