.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  vertical-align: middle;
}

.icon:hover {
  opacity: 1;
}

.icon::before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.icon-search::before {
  background-image: url(/nit/image/icons/search-1767866-1502119.webp);
}

.icon-close::before {
  background-image: url(/nit/image/icons/error.png);
}

.icon-checkbox::before {
  border-radius: 3px;
  border: 2px solid rebeccapurple;
  background: transparent;
  cursor: cell;
}

.icon-checkbox.checked::before {
  background: radial-gradient(circle at center, rebeccapurple 45%, rebeccapurple 45%, #ffffff00 45%);
}

.icon-ok::before {
  background-image: url(/nit/image/icons/icon-checkmark.png);
}

.icon-bad::before {
  background-image: url(/nit/image/icons/icons-delete.png);
}
/*# sourceMappingURL=Icon.css.map */