@import "../variable";
header > .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    .menu-bar {
        font-size: 15px;
        font-weight: bold;
        color: $BaseColorTire;
        display: flex;
        .is-content
        {
            .title > a::after {
                margin: 0 5px;
                content: "^";
                font-weight: 900;
                vertical-align: middle;
                font-size: 20px;
            }
        }
        & li {
            ul {
                transition: 0.3s;
                opacity: 0;
                visibility: hidden;
                top: 120%;
            }
            &:hover ul {
                opacity: 1;
                visibility: visible;
                top: 100%;
            }
        }
        li,
        div {
            a {
                transition: 0.3s;
                color: $BaseColorTire;
                display: block;
                &:hover {
                    color: $BaseColorRoshan;
                }
            }

        }

        .menu-bar-item {
            cursor: pointer;
            position: relative;
            padding: 5px 10px;
            .inner-item-menu{
                padding: 2px 0;
            }
            &:hover {
                div > a {
                    color: $BaseColorRoshan;
                }
            }
        }
        .menu-bar-inner {
            width: max-content;
            min-width: 200px;
            padding:15px 30px;
            background-color: white;
            border-radius: 0 0 5px 5px;
            box-shadow: 0 0 5px 1px #00000028;
            border-top: 5px solid $BaseColorRoshan;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .box-container {
        .icon-holder {
            display: flex;
            .icon-item {
                width: 34px;
                height: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin: 0 2px;
                position: relative;
            }
        }
        #search-box-pure-css:checked ~ .search-over-box {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }

        .search-over-box {
            transition: 0.3s;
            transform: translateY(10px);
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: 50000;
            top: 100%;
            left: 0;
            padding: 10px;
            padding-top: 5px;
            background: white;
            box-shadow: 0 0 15px 1px rgba(70, 131, 180, 0.6);
            border-radius: 5px;
            .form-search {
                margin-top: 5px;
                position: relative;
                display: flex;
                .search-input {
                    height: 34px;
                    width: 230px;
                    padding: 7px;
                    padding-left: 30px;
                    box-sizing: border-box;
                    border: 2px solid rgba(9, 81, 139, 0.5);
                    border-radius: 5px;
                    color: rgb(11, 90, 155);
                    font-size: 20px;
                }
                .search-input-btn {
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                }
            }
        }
    }
    .logo-container {
        .log-box-holder {
            display: flex;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
            }
            .logo-name {
                padding: 0 10px;
                color: $baseColor;
                font-weight: bold;
            }
        }
    }
    .side-box-fixed-menu {
        cursor: pointer;
    }

    #side-box-fixed-pure:checked ~ .side-box-fixed{      
        transition: 0.5s;
        transform: translateX(0);
        & > * {
            opacity: 1;
            animation: openModalFixed 1s;
        }
    }
    .side-box-fixed {
//animation : backModal 1s;

        transition-delay: 0.5s;
        transition: 1s;
        position: fixed;
        display: block;
        margin: 0;
        padding: 5px;
        box-sizing: border-box;
        float: left;
        top: 0;
        left: 0;
        width: 400px;
        height: 100%;
        background: white;
        box-shadow: 5px 0 5px 1px #42424257;
        z-index: 100;
        transform: translateX(-100%);
        .icon-close {
            width: 50px;
            height: 50px;
        }
        .container-box {
            padding: 5px;
            box-sizing: border-box;
        }
    }
}
@keyframes openModalFixed {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes backModal{
    0%{
        transform:translateX(0);
    }   
    50%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-100);
    }
}