header > .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

header > .nav-bar .menu-bar {
  font-size: 15px;
  font-weight: bold;
  color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > .nav-bar .menu-bar .is-content .title > a::after {
  margin: 0 5px;
  content: "^";
  font-weight: 900;
  vertical-align: middle;
  font-size: 20px;
}

header > .nav-bar .menu-bar li ul {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  top: 120%;
}

header > .nav-bar .menu-bar li:hover ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

header > .nav-bar .menu-bar li a,
header > .nav-bar .menu-bar div a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #555;
  display: block;
}

header > .nav-bar .menu-bar li a:hover,
header > .nav-bar .menu-bar div a:hover {
  color: royalblue;
}

header > .nav-bar .menu-bar .menu-bar-item {
  cursor: pointer;
  position: relative;
  padding: 5px 10px;
}

header > .nav-bar .menu-bar .menu-bar-item .inner-item-menu {
  padding: 2px 0;
}

header > .nav-bar .menu-bar .menu-bar-item:hover div > a {
  color: royalblue;
}

header > .nav-bar .menu-bar .menu-bar-inner {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 200px;
  padding: 15px 30px;
  background-color: white;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 0 5px 1px #00000028;
          box-shadow: 0 0 5px 1px #00000028;
  border-top: 5px solid royalblue;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header > .nav-bar .box-container .icon-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > .nav-bar .box-container .icon-holder .icon-item {
  width: 34px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 0 2px;
  position: relative;
}

header > .nav-bar .box-container #search-box-pure-css:checked ~ .search-over-box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

header > .nav-bar .box-container .search-over-box {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 50000;
  top: 100%;
  left: 0;
  padding: 10px;
  padding-top: 5px;
  background: white;
  -webkit-box-shadow: 0 0 15px 1px rgba(70, 131, 180, 0.6);
          box-shadow: 0 0 15px 1px rgba(70, 131, 180, 0.6);
  border-radius: 5px;
}

header > .nav-bar .box-container .search-over-box .form-search {
  margin-top: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > .nav-bar .box-container .search-over-box .form-search .search-input {
  height: 34px;
  width: 230px;
  padding: 7px;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid rgba(9, 81, 139, 0.5);
  border-radius: 5px;
  color: #0b5a9b;
  font-size: 20px;
}

header > .nav-bar .box-container .search-over-box .form-search .search-input-btn {
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header > .nav-bar .logo-container .log-box-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .nav-bar .logo-container .log-box-holder img {
  width: 50px;
  height: 50px;
}

header > .nav-bar .logo-container .log-box-holder .logo-name {
  padding: 0 10px;
  color: #005892;
  font-weight: bold;
}

header > .nav-bar .side-box-fixed-menu {
  cursor: pointer;
}

header > .nav-bar #side-box-fixed-pure:checked ~ .side-box-fixed {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header > .nav-bar #side-box-fixed-pure:checked ~ .side-box-fixed > * {
  opacity: 1;
  -webkit-animation: openModalFixed 1s;
          animation: openModalFixed 1s;
}

header > .nav-bar .side-box-fixed {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  display: block;
  margin: 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  background: white;
  -webkit-box-shadow: 5px 0 5px 1px #42424257;
          box-shadow: 5px 0 5px 1px #42424257;
  z-index: 100;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

header > .nav-bar .side-box-fixed .icon-close {
  width: 50px;
  height: 50px;
}

header > .nav-bar .side-box-fixed .container-box {
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes openModalFixed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes openModalFixed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes backModal {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100);
            transform: translateX(-100);
  }
}

@keyframes backModal {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100);
            transform: translateX(-100);
  }
}
/*# sourceMappingURL=Header.css.map */