body .c-pointer {
  cursor: pointer;
}

body .pure-input-tik {
  display: none;
}

body .pure-input-tik:checked ~ label .back-drop,
body .pure-input-tik:checked + label .back-drop {
  opacity: 1;
  visibility: visible;
}

body .back-drop {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(66, 66, 66, 0.1);
  opacity: 0;
  visibility: hidden;
}

.top-section-moarefi {
  padding: 100px 0;
}

.top-section-moarefi .box-container-diatle {
  width: 500px;
}

.top-section-moarefi .box-container-diatle .describtion {
  line-height: 25px;
  font-weight: bold;
}

.top-section-moarefi .box-container-diatle .title-page {
  font-size: 35px;
  font-weight: bold;
  color: #3d3399;
}

.top-section-moarefi .box-container-diatle .sp-noshirvani {
  color: royalblue;
  font-weight: bold;
}

.top-section-moarefi .form-rel-uni .title-form-rel {
  color: orange;
  font-weight: bold;
  font-size: 25px;
}

.top-section-moarefi .form-rel-uni .form-group input {
  padding: 8px 15px;
  border: 0 none;
  -webkit-box-shadow: 0 0 3px 1px rgba(65, 105, 225, 0.301);
          box-shadow: 0 0 3px 1px rgba(65, 105, 225, 0.301);
  border-radius: 6px;
  outline: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}

.top-section-moarefi .form-rel-uni .form-group input:focus {
  -webkit-box-shadow: 0 0 7px 1px rgba(65, 105, 225, 0.507);
          box-shadow: 0 0 7px 1px rgba(65, 105, 225, 0.507);
}

.top-section-moarefi .form-rel-uni .form-group button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 0 none;
  background-color: royalblue;
  color: white;
  -webkit-box-shadow: 0 0 5px 1px rgba(87, 87, 87, 0.5);
          box-shadow: 0 0 5px 1px rgba(87, 87, 87, 0.5);
  cursor: pointer;
  padding: 8px 15px;
  margin: 0 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 17px;
}

.top-section-moarefi .form-rel-uni .form-group button:hover {
  -webkit-box-shadow: 0 0 10px 1px rgba(87, 87, 87, 0.8);
          box-shadow: 0 0 10px 1px rgba(87, 87, 87, 0.8);
}

.box-component {
  padding: 10px 0;
}

.box-component .header-component {
  text-align: center;
}

.box-component .header-component .min-title {
  margin: 5px;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  color: #214cce;
}

.box-component .header-component .main-title {
  margin: 0;
  font-size: 27px;
  color: #222222;
}

.box-component .container-box {
  padding: 40px 0;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid.grid-line {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.grid-khadamat {
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.grid-khadamat .grid-khadamat-item {
  max-width: 280px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  margin: 0 10px;
  padding: 20px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 18, 41, 0.1);
          box-shadow: 0 0 20px 1px rgba(0, 18, 41, 0.1);
}

.grid-khadamat .grid-khadamat-item .title-item {
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
}

.grid-khadamat .grid-khadamat-item .describe {
  font-size: 18px;
  font-weight: bold;
  color: #6f6f6f;
}

.grid-khadamat .grid-khadamat-item .icon-item img {
  width: 60px;
  height: 60px;
}

.grid-khadamat .grid-khadamat-item .btn {
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 7px 16px;
  font-size: 16px;
  font-weight: bold;
  color: #1a3ca2;
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid #1a3ca2;
  text-shadow: 0 0 3px rgba(65, 105, 225, 0.4);
  -webkit-box-shadow: 0 0 5px 1px rgba(65, 105, 225, 0.4), 0 0 6px 1px rgba(65, 105, 225, 0.2) inset;
          box-shadow: 0 0 5px 1px rgba(65, 105, 225, 0.4), 0 0 6px 1px rgba(65, 105, 225, 0.2) inset;
}

.grid-khadamat .grid-khadamat-item .btn:hover {
  background-color: #1a3ca2;
  color: white;
}

.box-gozaresh-server {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.box-gozaresh-server .side-pic {
  width: 45%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-gozaresh-server .side-pic .side-pic-holder img {
  width: 100%;
}

.box-gozaresh-server .side-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box-gozaresh-server .box-ditale-gozaresh-server {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box-gozaresh-server .box-ditale-gozaresh-server .item-gozaresh-server {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px;
}

.box-gozaresh-server .box-ditale-gozaresh-server .item-gozaresh-server.checked .box-shoable-gozaresh,
.box-gozaresh-server .box-ditale-gozaresh-server .item-gozaresh-server.checked .box-shoable-gozaresh:hover {
  -webkit-box-shadow: 0 0 15px 1px rgba(152, 0, 223, 0.7);
          box-shadow: 0 0 15px 1px rgba(152, 0, 223, 0.7);
}

.box-gozaresh-server .box-ditale-gozaresh-server .item-gozaresh-server.show-off .box-shoable-gozaresh,
.box-gozaresh-server .box-ditale-gozaresh-server .item-gozaresh-server.show-off .box-shoable-gozaresh:hover {
  -webkit-box-shadow: 0 0 15px 1px rgba(152, 0, 223, 0.7);
          box-shadow: 0 0 15px 1px rgba(152, 0, 223, 0.7);
  -webkit-animation: Show-Off 1s infinite;
          animation: Show-Off 1s infinite;
}

.box-gozaresh-server .box-ditale-gozaresh-server .item-gozaresh-server.is-checking .box-shoable-gozaresh::after {
  -webkit-transition: 0;
  transition: 0;
  background: none;
  display: block;
  z-index: 400;
}

.box-gozaresh-server .box-ditale-gozaresh-server .item-gozaresh-server .box-shoable-gozaresh {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 10px;
  background-color: white;
  font-size: 18px;
  border-radius: 3px;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 88, 146, 0.2);
          box-shadow: 0 0 10px 1px rgba(0, 88, 146, 0.2);
}

.box-gozaresh-server .box-ditale-gozaresh-server .item-gozaresh-server .box-shoable-gozaresh > * {
  position: relative;
  z-index: 200;
}

.box-gozaresh-server .box-ditale-gozaresh-server .item-gozaresh-server .box-shoable-gozaresh::after {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #3333ff;
  z-index: 100;
}

.box-gozaresh-server .box-ditale-gozaresh-server .item-gozaresh-server .box-shoable-gozaresh a {
  color: #3333ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-gozaresh-server .box-ditale-gozaresh-server .item-gozaresh-server .box-shoable-gozaresh:hover {
  -webkit-box-shadow: 0 0 15px 1px rgba(1, 73, 182, 0.377);
          box-shadow: 0 0 15px 1px rgba(1, 73, 182, 0.377);
}

.box-gozaresh-server .box-ditale-gozaresh-server .item-gozaresh-server .box-shoable-gozaresh:hover .icon {
  opacity: 1;
}

.box-gozaresh-server .box-ditale-gozaresh-server .item-gozaresh-server .box-shoable-gozaresh:hover a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  color: #4d4dff;
}

.box-gozaresh-server .box-ditale-gozaresh-server .item-gozaresh-server .box-shoable-gozaresh:hover::after {
  width: 100%;
}

.box-gozaresh-server .box-ditale-gozaresh-server .item-gozaresh-server .box-shoable-gozaresh .title-server {
  padding: 0 6px;
}

.box-gozaresh-server .button-continer {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-gozaresh-server .button-continer.d-none {
  display: none;
}

.box-gozaresh-server .button-continer .btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 10px 1px rgba(87, 87, 87, 0.3);
          box-shadow: 0 0 10px 1px rgba(87, 87, 87, 0.3);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  font-weight: bold;
  margin: 0 5px;
}

.box-gozaresh-server .button-continer .btn:hover {
  -webkit-box-shadow: 0 0 10px 1px #575757;
          box-shadow: 0 0 10px 1px #575757;
}

.box-gozaresh-server .button-continer .btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.box-gozaresh-server .button-continer .btn.is-fetched {
  cursor: progress;
  cursor: wait;
}

.box-gozaresh-server .button-continer .btn-rebeccapurple {
  background-color: rebeccapurple;
}

.box-gozaresh-server .button-continer .btn-crimson {
  background-color: crimson;
}

.box-gozaresh-server .button-continer .btn-dangres {
  background-color: red;
}

.box-gozaresh-server .button-continer .btn-success {
  background-color: forestgreen;
}

.news-comp .grid .grid-item {
  max-width: 310px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  margin: 20px;
}

.news-comp .grid .grid-item img {
  height: 200px;
  width: 100%;
}

.news-comp .grid .grid-item a {
  color: black;
}

.news-comp .grid .grid-item .ditale-holder {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
}

.news-comp .grid .grid-item .prev-title {
  color: #747474;
}

.news-comp .grid .grid-item .title {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.news-comp .grid .grid-item .content {
  font-size: 18px;
  color: #666;
  font-weight: bold;
}

@-webkit-keyframes Show-Off {
  0% {
    -webkit-box-shadow: 0 0 12px 1px rgba(152, 0, 223, 0.7);
            box-shadow: 0 0 12px 1px rgba(152, 0, 223, 0.7);
  }
  50% {
    -webkit-box-shadow: 0 0 7px 1px rgba(152, 0, 223, 0.5);
            box-shadow: 0 0 7px 1px rgba(152, 0, 223, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 12px 1px rgba(152, 0, 223, 0.7);
            box-shadow: 0 0 12px 1px rgba(152, 0, 223, 0.7);
  }
}

@keyframes Show-Off {
  0% {
    -webkit-box-shadow: 0 0 12px 1px rgba(152, 0, 223, 0.7);
            box-shadow: 0 0 12px 1px rgba(152, 0, 223, 0.7);
  }
  50% {
    -webkit-box-shadow: 0 0 7px 1px rgba(152, 0, 223, 0.5);
            box-shadow: 0 0 7px 1px rgba(152, 0, 223, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 12px 1px rgba(152, 0, 223, 0.7);
            box-shadow: 0 0 12px 1px rgba(152, 0, 223, 0.7);
  }
}
/*# sourceMappingURL=Layout.css.map */