@import "../variable";
body {
    & > header {
        //height: 100px;
        // background-color: royalblue;
    }
    & > section {
    }
    & > footer {
        //height: 200px;
        //background-color: salmon;
    }
    .c-pointer {
        cursor: pointer;
    }
    .pure-input-tik {
        display: none;
    }
    .pure-input-tik:checked ~ label .back-drop,
    .pure-input-tik:checked + label .back-drop {
        opacity: 1;
        visibility: visible;
    }
    .back-drop {
        transition: 0.2s;
        position: fixed;
        z-index: 50;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(66, 66, 66, 0.1);
        opacity: 0;
        visibility: hidden;
    }
}
.top-section-moarefi {
    padding: 100px 0;
    .box-container-diatle {
        width: 500px;
        .describtion {
            line-height: 25px;
            font-weight: bold;
        }
        .title-page {
            font-size: 35px;
            font-weight: bold;
            color: rgb(61, 51, 153);
        }
        .sp-noshirvani {
            color: royalblue;
            font-weight: bold;
        }
    }
    .form-rel-uni {
        .title-form-rel {
            color: orange;
            font-weight: bold;
            font-size: 25px;
        }
        .form-group {
            input {
                padding: 8px 15px;
                border: 0 none;
                box-shadow: 0 0 3px 1px rgba(65, 105, 225, 0.301);
                border-radius: 6px;
                outline: 0;
                transition: 0.3s;
                font-size: 17px;
                &:focus {
                    box-shadow: 0 0 7px 1px rgba(65, 105, 225, 0.507);
                }
            }
            button {
                transition: 0.3s;
                border: 0 none;
                background-color: royalblue;
                color: white;
                box-shadow: 0 0 5px 1px rgba(87, 87, 87, 0.5);
                cursor: pointer;
                padding: 8px 15px;
                margin: 0 10px;
                border-radius: 5px;
                font-weight: bold;
                font-size: 17px;
                &:hover {
                    box-shadow: 0 0 10px 1px rgba(87, 87, 87, 0.8);
                }
            }
        }
    }
}

.box-component {
    padding: 10px 0;
    .header-component {
        text-align: center;
        .min-title {
            margin: 5px;
            color: $BaseColorTire;
            font-size: 14px;
            font-weight: bold;
            color: darken($BaseColorRoshan, 10%);
        }
        .main-title {
            margin: 0;
            font-size: 27px;
            color: darken($BaseColorTire, 20%);
        }
    }
    .container-box {
        padding: 40px 0;
    }
}
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    &.grid-line {
        justify-content: space-evenly;
        .grid-item {
        }
    }
}
.grid-khadamat {
    text-align: center;
    justify-content: space-evenly;
    .grid-khadamat-item {
        max-width: 280px;
        box-sizing: border-box;
        background-color: white;
        margin: 0 10px;
        padding: 20px;
        border-radius: 6px;
        box-shadow: 0 0 20px 1px rgba(0, 18, 41, 0.1);
        .title-item {
            margin: 10px;
            font-size: 25px;
            font-weight: bold;
        }
        .describe {
            font-size: 18px;
            font-weight: bold;
            color: lighten($BaseColorTire, 10%);
        }
        .icon-item {
            img {
                width: 60px;
                height: 60px;
            }
        }
        .btn {
            display: inline-block;
            transition: 0.5s;
            padding: 7px 16px;
            font-size: 16px;
            font-weight: bold;
            color: darken($BaseColorRoshan, 20%);
            border-radius: 6px;
            background-color: transparent;
            border: 2px solid darken($BaseColorRoshan, 20%);
            text-shadow: 0 0 3px rgba(65, 105, 225, 0.4);
            box-shadow: 0 0 5px 1px rgba(65, 105, 225, 0.4), 0 0 6px 1px rgba(65, 105, 225, 0.2) inset;
            &:hover {
                background-color: darken($BaseColorRoshan, 20%);
                color: white;
            }
        }
    }
}
.box-gozaresh-server {
    display: flex;
    flex-direction: row-reverse;
    .side-pic {
        width: 45%;
        box-sizing: border-box;
        padding: 0 10px;
        display: flex;
        align-items: center;
        .side-pic-holder {
            img {
                width: 100%;
            }
        }
    }
    .side-content {
        flex: 1;
    }
    .box-ditale-gozaresh-server {
        display: flex;
        flex-wrap: wrap;
        .item-gozaresh-server {
            width: 50%;
            box-sizing: border-box;
            padding: 6px;
            &.checked {
                .box-shoable-gozaresh,
                .box-shoable-gozaresh:hover {
                    box-shadow: 0 0 15px 1px rgba(152, 0, 223, 0.7);
                }
            }
            &.show-off{
                .box-shoable-gozaresh,
                .box-shoable-gozaresh:hover {
                    box-shadow: 0 0 15px 1px rgba(152, 0, 223, 0.7);
                    animation:Show-Off 1s infinite;

                }
            }
            &.is-checking {
                .box-shoable-gozaresh {
                    &::after {
                        transition:0;
                        background:none;
                        display: block;
                        z-index: 400;
                    }
                }
            }
            .box-shoable-gozaresh {
                cursor: pointer;
                transition: 0.5s;
                user-select: none;
                display: flex;
                align-items: center;
                padding: 6px 10px;
                background-color: white;
                font-size: 18px;
                border-radius: 3px;
                font-weight: bold;
                overflow: hidden;
                position: relative;
                box-shadow: 0 0 10px 1px rgba(0, 88, 146, 0.2);
                & > * {
                    position: relative;
                    z-index: 200;
                }
                &::after {
                    display: none;
                    transition: 0.5s;
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: 0;
                    background-color: lighten($BaseBg, 10%);
                    z-index: 100;
                }
                a {
                    color: lighten($BaseBg, 10%);
                    display: flex;
                    align-items: center;
                }
                &:hover {
                    box-shadow: 0 0 15px 1px rgba(1, 73, 182, 0.377);
                    .icon {
                        opacity: 1;
                    }
                    a {
                        transition: 0.3s;
                        color: white;
                        color: lighten($BaseBg, 15%);
                    }
                    &::after {
                        width: 100%;
                    }
                }
                .title-server {
                    padding: 0 6px;
                }

                .icon-bad {
                    // background-color: red;
                }
                .icon-ok {
                    // background-color: forestgreen;
                }
            }
        }
    }
    .button-continer {
        padding: 20px;
        display: flex;
        justify-content: center;
        &.d-none {
            display: none;
        }
        .btn {
            transition: 0.3s;
            cursor: pointer;
            display: flex;
            box-shadow: 0 0 10px 1px rgba(87, 87, 87, 0.3);
            color: white;
            padding: 10px 20px;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 17px;
            font-weight: bold;
            margin: 0 5px;
            &:hover {
                box-shadow: 0 0 10px 1px rgba(87, 87, 87, 1);
            }
            &.disabled{
                opacity: 0.5;
                cursor:not-allowed;
            }
            &.is-fetched{
                cursor:progress;
                cursor:wait;
            }
        }
        .btn-rebeccapurple {
            background-color: rebeccapurple;
        }
        .btn-crimson {
            background-color: crimson;
        }
        .btn-dangres {
            background-color: red;
        }
        .btn-success {
            background-color: forestgreen;
        }
    }
}
.news-comp {
    .grid {
        .grid-item {
            max-width: 310px;
            box-sizing: border-box;
            border-radius: 6px;
            overflow: hidden;
            background-color: white;
            margin: 20px;
            img {
                height: 200px;
                width: 100%;
            }
            a {
                color: black;
            }
            .ditale-holder {
                box-sizing: border-box;
                padding: 10px 20px;
            }
            .prev-title {
                color: rgb(116, 116, 116);
            }
            .title {
                margin: 10px 0;
                font-size: 20px;
                font-weight: bold;
            }
            .content {
                font-size: 18px;
                color: #666;
                font-weight: bold;
            }
        }
    }
}

@keyframes Show-Off{
    0%{
        box-shadow: 0 0 12px 1px rgba(152, 0, 223, 0.7);
    }
    50%{
        box-shadow: 0 0 7px 1px rgba(152, 0, 223, 0.5);
    }
    100%{
        box-shadow: 0 0 12px 1px rgba(152, 0, 223, 0.7);
    }
}
