.container-dashborad-item {
  direction: rtl;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
}

.container-dashborad-item .item-dashborad {
  margin-bottom: 5px;
}

.container-dashborad-item .item-dashborad .title-item {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #005892;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color: white;
  font-size: 20px;
  text-align: center;
  -webkit-box-shadow: 0 0px 5px 1px transparent;
          box-shadow: 0 0px 5px 1px transparent;
}

.container-dashborad-item .item-dashborad.active .title-item {
  margin: 0 15px;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0 0px 5px 1px rgba(255, 255, 255, 0.4);
          box-shadow: 0 0px 5px 1px rgba(255, 255, 255, 0.4);
}

.container-dashborad-item .item-dashborad.active .container-sub-itms {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px 20px;
}

.container-dashborad-item .item-dashborad .container-sub-itms {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 0;
  overflow: hidden;
  padding: 0 20px;
}

.container-dashborad-item .item-dashborad .container-sub-itms .sub-itms {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  padding: 5px 10px;
  margin: 3px 0;
  background-color: rgba(240, 239, 239, 0.2);
  border-right: 4px solid white;
}

.container-dashborad-item .item-dashborad .container-sub-itms .sub-itms a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
  color: lightgray;
}

.container-dashborad-item .item-dashborad .container-sub-itms .sub-itms.active-sub {
  padding: 8px 10px;
  border-color: lime;
  background-color: rgba(255, 255, 255, 0.39);
}

.container-dashborad-item .item-dashborad .container-sub-itms .sub-itms.active-sub a {
  color: white;
}
/*# sourceMappingURL=Dashboard.css.map */