@import "../variable";
.container-dashborad-item {
    direction: rtl;
    box-sizing: border-box;
    padding: 20px 0;
    .item-dashborad {
        margin-bottom:5px;
        &:nth-child(odd) {
        }
        &:nth-child(even) {
            .title-item {
             //   background-color: rgb(228, 228, 228);
            }
        }
        .title-item {
            transition: 0.5s;
            color: $baseColor;
            border-radius:10px 10px 0 0;
            padding: 10px;
            margin:0 5px;
            
            cursor: pointer;
            background-color: white;
            font-size: 20px;
            text-align: center;
            box-shadow: 0 0px 5px 1px transparent;
            &:hover{
                //background-color:rgb(0, 202, 238);
                //color:white;
            }
        }
        &.active {
            .title-item {
                margin:0 15px;
                border-radius: 0 0 10px 10px;
                box-shadow: 0 0px 5px 1px rgba(255, 255, 255, 0.4);
            }
            .container-sub-itms {
                height: max-content;
                padding: 10px 20px;
            }
        }
        .container-sub-itms {
            transition: 0.5s;
            height: 0;
            overflow: hidden;
            padding: 0 20px;
            .sub-itms {
                transition: 0.5s;
                a {
                    transition: 0.5s;
                    display: block;
                    color: rgb(211, 211, 211);
                }
                cursor: pointer;
                padding: 5px 10px;
                margin: 3px 0;
                background-color: rgba(240, 239, 239, 0.2);
                border-right: 4px solid white;

                &.active-sub {
                    padding:8px 10px;
                    border-color: rgb(0, 255, 0);
                    background-color: rgba(255, 255, 255, 0.39);
                    a {
                        color: white;
                    }
                    // box-shadow:0px 0 3px 1px rgba(0, 255, 0, 0.4) inset;
                }
            }
        }
    }
}
