.root-admin {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

.root-admin .side {
  width: 300px;
  background-color: #005892;
  height: 100%;
  overflow-y: scroll;
  direction: ltr;
}

.root-admin .side .profile-box {
  padding: 10px 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.root-admin .side .profile-box .img-user-holder {
  width: 50px;
  height: 50px;
  border-radius: 2em;
  -webkit-box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.247);
          box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.247);
  overflow: hidden;
}

.root-admin .side .profile-box .img-user-holder img {
  width: 100%;
  height: 100%;
}

.root-admin .side .profile-box .full-name {
  display: block;
  margin: 0 10px;
  font-size: 20px;
}

.root-admin .side .profile-box .type-user {
  text-align: right;
  display: block;
  color: #d1d1d1;
  margin: 3px 10px;
}

.root-admin #content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: scroll;
}
/*# sourceMappingURL=Admin.css.map */