@import "../variable";
.root-admin{
    padding: 0;
    display: flex;
    position: absolute;
    width:100%;
    top:0;
    left:0;
    height: 100%;    
    .side{
        width: 300px;
        background-color: $baseColor;
        height:100%;
        overflow-y: scroll;
        direction: ltr;

        .profile-box{
            padding:10px 30px;
            flex-direction: row-reverse;
            display: flex;
            align-items: center;
            color: white;
            .img-user-holder{
                width:50px;
                height: 50px;
                border-radius: 2em;
                box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.247);
                overflow: hidden;
                img{
                    width:100%;
                    height:100%;
                }
            }  
            .full-name{
                display:block;
                margin: 0 10px;
                font-size: 20px;
            } 
            .type-user{
                text-align: right;
                display:block;
                color:rgb(209, 209, 209);
                margin:3px 10px;
            }
        }
    }
    #content{
        flex:1;
        overflow-y:scroll;
    }
}