.form {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 460px;
  width: 600px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 40px 1px rgba(0, 88, 146, 0.3);
          box-shadow: 0 0 40px 1px rgba(0, 88, 146, 0.3);
}

.form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form .form-row > * {
  width: 48%;
}

.form .form-group label {
  margin: 10px 0;
  display: block;
  color: #005892;
}

.form .form-group input,
.form .form-group textarea {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  -webkit-box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.1);
          box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.1);
}

.form .form-group input:hover,
.form .form-group textarea:hover {
  -webkit-box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.2);
          box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.2);
}

.form .form-group input:focus,
.form .form-group textarea:focus {
  -webkit-box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.4);
          box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.4);
}

.form .form-group input {
  min-height: 30px;
}

.form .form-group textarea {
  min-height: 150px;
  max-height: 150px;
}

.form .form-group textarea.mini {
  min-height: 60px;
  max-height: 60px;
}

.form .form-group .button-form {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #005892;
  color: white;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 7px 20px;
  margin: 0 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.form .form-group .button-form:hover {
  color: #001b2c;
  background-color: #2cabff;
}

.form .form-group .button-form.clicked {
  opacity: 0.5;
}

.form .form-group .button-form.success {
  background-color: forestgreen;
}

.form .form-group .button-form.success:hover {
  color: #0e390e;
  background-color: #6bdb6b;
}

.form .form-group .button-form.dangres {
  background-color: crimson;
}

.form .form-group .button-form.dangres:hover {
  color: #7f0c23;
  background-color: #f594a7;
}

.form .form-group .button-form.rebeccapurple {
  background-color: rebeccapurple;
}

.form .form-group .button-form.rebeccapurple:hover {
  color: #331a4d;
  background-color: #b38cd9;
}

.form .form-group input[type="file"] {
  display: none;
}

.form .form-group .img-hodler-selected {
  width: 100%;
}

.form .form-group .file-item {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 20px 0;
  height: 40px;
  border-radius: 2em;
  background: url(/nit/image/icons/web-development.png) #005892 50% 0 no-repeat;
  background-size: 40px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 88, 146, 0.5);
          box-shadow: 0 0 10px 1px rgba(0, 88, 146, 0.5);
  cursor: pointer;
}

.form .form-group .file-item:hover {
  -webkit-box-shadow: 0 0 10px 1px currentColor;
          box-shadow: 0 0 10px 1px currentColor;
}

.form .form-group-2 {
  padding: 10px 0;
}

.form .form-group-2 label {
  color: #005892;
}

.form .select-group {
  text-align: center;
  padding: 5px 0;
}
/*# sourceMappingURL=Form.css.map */