$baseColor: rgb(0, 88, 146);
.form {
    // border: 2px solid red;
    padding: 20px;
    box-sizing: border-box;
    min-width: 460px;
    width: 600px;
    border-radius: 5px;
    box-shadow: 0 0 40px 1px rgba(0, 88, 146, 0.3);
    .form-row{
        display:flex;
        justify-content: space-between;
        &>*{
            width:48%;
        }
    }
    .form-group {
        label {
            margin: 10px 0;
            display: block;
            color: $baseColor;
        }
        input,
        textarea {
            min-width: 100%;
            width: 100%;
            max-width: 100%;
            transition: 0.3s;
            box-sizing: border-box;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.1);
            &:hover {
                box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.2);
            }
            &:focus {
                box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.4);
            }
        }
        input {
            min-height: 30px;
        }
        textarea {
            min-height: 150px;
            max-height: 150px;
            &.mini {
                min-height:60px;
                max-height:60px;
            }
        }
        .button-form {
            user-select: none;
            transition: 0.3s;
            background-color: $baseColor;
            color: white;
            border: none;
            box-shadow: none;
            padding: 7px 20px;
            margin: 0 5px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover {
                color: darken($baseColor, 20%);
                background-color: lighten($baseColor, 30%);
            }
            &.clicked {
                opacity: 0.5;
            }
            &.success {
                background-color: forestgreen;
                &:hover {
                    color: darken(forestgreen, 20%);
                    background-color: lighten(forestgreen, 30%);
                }
            }
            &.dangres {
                background-color: crimson;
                &:hover {
                    color: darken(crimson, 20%);
                    background-color: lighten(crimson, 30%);
                }
            }
            &.rebeccapurple{
                background-color: rebeccapurple;
                &:hover {
                    color: darken(rebeccapurple, 20%);
                    background-color: lighten(rebeccapurple, 30%);
                }
            }
        }
        input[type="file"] {
            display: none;
        }
        .img-hodler-selected {
            width: 100%;
        }
        .file-item {
            transition: 0.5s;
            margin: 20px 0;
            height: 40px;
            border-radius: 2em;
            background: url(/nit/image/icons/web-development.png) $baseColor 50% 0 no-repeat;
            background-size: 40px;
            border-radius: 6px;
            box-shadow: 0 0 10px 1px rgba(0, 88, 146, 0.5);
            &:hover {
                box-shadow: 0 0 10px 1px currentColor;
            }
            cursor: pointer;
        }
    }
    .form-group-2{
        padding:10px 0;
        label {
            //display: block;
            color: $baseColor;
        }
    }
    .select-group {
        text-align: center;
        padding: 5px 0;
    }
}
