// @forestColor : forest
@import "../variable";
.grid {
    padding: 20px;
    box-sizing: border-box;
    .flex-row {
        display: flex;
    }
    .grid-container {
        padding: 20px;
        box-sizing: border-box;
        border-radius: 6px;
        box-shadow: 0 0 40px 1px rgba(0, 88, 146, 0.2);
        .grid-top {
            display: flex;
            padding: 20px 0;
            justify-content: space-between;
            align-items: center;
            .search-box {
                #search-grid {
                    border: 0 none;
                    height: 34px;
                    width: 250px;
                    color: $baseColor;
                    transition: 0.3s;
                    box-sizing: border-box;
                    border: none;
                    border-radius: 5px;
                    padding: 5px 10px;
                    font-size: 17px;
                }
            }
        }
    }
    select {
        text-align: center;
        padding: 5px 15px;
        margin-left: 20px;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        font-size: 18px;
    }

    .grid-body {
        .grid-header {
            display: flex;
            padding: 20px 10px;
            font-size: 20px;
            font-weight: bold;
            color: $baseColor;
            text-align: center;
            .grid-header-item {
                flex: 1;
            }
        }
        .grid-content {
            .row {
                margin: 8px 0;
                opacity: 1;
                transform: translateY(0);
                animation: AppendedInDom 0.5s;
                .col-box-grid {
                    transition: 0.3s;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    box-sizing: border-box;
                    margin: 3px 5px;
                    padding: 5px;
                    //border-radius: 6px;
                    height: 50px;
                    background-color: white;
                    font-weight: bold;
                    color: rgb(3, 62, 102);
                    box-shadow: 0 0 8px 1px rgba(3, 71, 117, 0.2);
                    &:hover {
                        box-shadow: 0 0 12px 1px rgba(3, 71, 117, 0.4);
                    }
                    &.check-remove {
                        animation: LoopShadowRemove 1s infinite;
                        &:hover {
                            animation: LoopShadowRemove 1s infinite;
                        }
                    }
                    .grid-body-item {
                        flex: 1;
                        &.img {
                            height: 100%;
                            text-align: right;
                        }
                        img {
                            height: 100%;
                            width: auto;
                            //border-radius: 3px;
                        }
                        &.btn-holder {
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                        }
                        .btn {
                            cursor: pointer;
                            width: 30px;
                            height: 30px;
                            background: no-repeat 0 0;
                            background-size: 100%;
                            opacity: 0.6;
                            transition: 0.2s;
                            &:hover {
                                opacity: 1;
                            }
                            &.btn-Edit {
                                background-image: url(/nit/image/icons/edit.png);
                            }
                            &.btn-Delete {
                                background-image: url(/nit/image/icons/filled-trash.png);
                            }
                        }
                    }
                }
            }
        }
    }
    .grid-pagination {
        .pagination {
            display: flex;
            padding: 20px 0 0;
            justify-content: center;
            .item-pagination {
                transition: 0.3s;
                transform: translateY(0);
                border-radius: 3px;
                padding: 5px 10px;
                cursor: pointer;
                color: darken($baseColor, 10%);
                background-color: white;
                box-shadow: 0 0 5px 1px rgba(0, 88, 146, 0.3);
                margin: 0 5px;
                &.right,
                &.left {
                    padding: 5px 10px;
                    font-size: 18px;
                    font-weight: bold;
                }
                &.selected {
                    color: white;
                    background-color: $baseColor;
                    box-shadow: 0 0 10px 1px rgba(82, 82, 82, 0.575);
                }
                &:hover {
                    transform: translateY(-5px);
                }
                &:active {
                    transform: translateY(-3px);
                    box-shadow: 0 0 5px 1px rgba(0, 88, 146, 0.1);
                    &.selected {
                        box-shadow: 0 0 5px 1px rgba(82, 82, 82, 0.575);
                    }
                }
            }
        }
    }
    .spinner {
        border-width: 4px;
        width: 30px;
        height: 30px;
        border-top-color: #0163a5;
        border-color: #0163a555;
    }
}

@keyframes AppendedInDom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes LoopShadowRemove {
    0% {
        box-shadow: 0 0 4px 1px rgba(220, 20, 60, 0.2);
    }
    50% {
        box-shadow: 0 0 15px 1px rgba(220, 20, 60, 0.6);
    }
    100% {
        box-shadow: 0 0 4px 1px rgba(220, 20, 60, 0.2);
    }
}

.grid {
    &.grid-them {
        &.default {
        }
        &.them-forest {

            .grid-container {
                box-shadow: 0 0 40px 1px rgba(66, 235, 0, 0.2);
                #search-grid {
                    color:rgba(66, 235, 0, 1);
                }
            }
            select{
                color:rgba(66, 235, 0, 1);
            }
            .shadow-box-main {
                box-shadow: 0 0 5px 1px rgba(66, 235, 0, 0.1);
            }
            .shadow-box-main:hover {
                box-shadow: 0 0 5px 1px rgba(66, 235, 0, 0.2);
            }
            .shadow-box-main:focus {
                box-shadow: 0 0 7px 1px rgba(66, 235, 0, 0.4);
            }
            .item-pagination {
                color: darken($baseColor, 10%);
                box-shadow: 0 0 5px 1px rgba(66, 235, 0, 0.3);
                &.selected {
                    background-color:  rgb(42, 148, 0);
                }
                &:active {
                    box-shadow: 0 0 5px 1px rgba(66, 235, 0, 0.1);
                }
            }
            .spinner {
                border-color: rgba(66, 235, 0, 0.2);
                border-top-color: rgba(66, 235, 0, 1);
            }
        }
    }
}
