.grid {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid .grid-container {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 40px 1px rgba(0, 88, 146, 0.2);
          box-shadow: 0 0 40px 1px rgba(0, 88, 146, 0.2);
}

.grid .grid-container .grid-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid .grid-container .grid-top .search-box #search-grid {
  border: 0 none;
  height: 34px;
  width: 250px;
  color: #005892;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 17px;
}

.grid select {
  text-align: center;
  padding: 5px 15px;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.grid .grid-body .grid-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 10px;
  font-size: 20px;
  font-weight: bold;
  color: #005892;
  text-align: center;
}

.grid .grid-body .grid-header .grid-header-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.grid .grid-body .grid-content .row {
  margin: 8px 0;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: AppendedInDom 0.5s;
          animation: AppendedInDom 0.5s;
}

.grid .grid-body .grid-content .row .col-box-grid {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 3px 5px;
  padding: 5px;
  height: 50px;
  background-color: white;
  font-weight: bold;
  color: #033e66;
  -webkit-box-shadow: 0 0 8px 1px rgba(3, 71, 117, 0.2);
          box-shadow: 0 0 8px 1px rgba(3, 71, 117, 0.2);
}

.grid .grid-body .grid-content .row .col-box-grid:hover {
  -webkit-box-shadow: 0 0 12px 1px rgba(3, 71, 117, 0.4);
          box-shadow: 0 0 12px 1px rgba(3, 71, 117, 0.4);
}

.grid .grid-body .grid-content .row .col-box-grid.check-remove {
  -webkit-animation: LoopShadowRemove 1s infinite;
          animation: LoopShadowRemove 1s infinite;
}

.grid .grid-body .grid-content .row .col-box-grid.check-remove:hover {
  -webkit-animation: LoopShadowRemove 1s infinite;
          animation: LoopShadowRemove 1s infinite;
}

.grid .grid-body .grid-content .row .col-box-grid .grid-body-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.grid .grid-body .grid-content .row .col-box-grid .grid-body-item.img {
  height: 100%;
  text-align: right;
}

.grid .grid-body .grid-content .row .col-box-grid .grid-body-item img {
  height: 100%;
  width: auto;
}

.grid .grid-body .grid-content .row .col-box-grid .grid-body-item.btn-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid .grid-body .grid-content .row .col-box-grid .grid-body-item .btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: no-repeat 0 0;
  background-size: 100%;
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.grid .grid-body .grid-content .row .col-box-grid .grid-body-item .btn:hover {
  opacity: 1;
}

.grid .grid-body .grid-content .row .col-box-grid .grid-body-item .btn.btn-Edit {
  background-image: url(/nit/image/icons/edit.png);
}

.grid .grid-body .grid-content .row .col-box-grid .grid-body-item .btn.btn-Delete {
  background-image: url(/nit/image/icons/filled-trash.png);
}

.grid .grid-pagination .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid .grid-pagination .pagination .item-pagination {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  color: #00395f;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 88, 146, 0.3);
          box-shadow: 0 0 5px 1px rgba(0, 88, 146, 0.3);
  margin: 0 5px;
}

.grid .grid-pagination .pagination .item-pagination.right, .grid .grid-pagination .pagination .item-pagination.left {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
}

.grid .grid-pagination .pagination .item-pagination.selected {
  color: white;
  background-color: #005892;
  -webkit-box-shadow: 0 0 10px 1px rgba(82, 82, 82, 0.575);
          box-shadow: 0 0 10px 1px rgba(82, 82, 82, 0.575);
}

.grid .grid-pagination .pagination .item-pagination:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.grid .grid-pagination .pagination .item-pagination:active {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 88, 146, 0.1);
          box-shadow: 0 0 5px 1px rgba(0, 88, 146, 0.1);
}

.grid .grid-pagination .pagination .item-pagination:active.selected {
  -webkit-box-shadow: 0 0 5px 1px rgba(82, 82, 82, 0.575);
          box-shadow: 0 0 5px 1px rgba(82, 82, 82, 0.575);
}

.grid .spinner {
  border-width: 4px;
  width: 30px;
  height: 30px;
  border-top-color: #0163a5;
  border-color: #0163a555;
}

@-webkit-keyframes AppendedInDom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes AppendedInDom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes LoopShadowRemove {
  0% {
    -webkit-box-shadow: 0 0 4px 1px rgba(220, 20, 60, 0.2);
            box-shadow: 0 0 4px 1px rgba(220, 20, 60, 0.2);
  }
  50% {
    -webkit-box-shadow: 0 0 15px 1px rgba(220, 20, 60, 0.6);
            box-shadow: 0 0 15px 1px rgba(220, 20, 60, 0.6);
  }
  100% {
    -webkit-box-shadow: 0 0 4px 1px rgba(220, 20, 60, 0.2);
            box-shadow: 0 0 4px 1px rgba(220, 20, 60, 0.2);
  }
}

@keyframes LoopShadowRemove {
  0% {
    -webkit-box-shadow: 0 0 4px 1px rgba(220, 20, 60, 0.2);
            box-shadow: 0 0 4px 1px rgba(220, 20, 60, 0.2);
  }
  50% {
    -webkit-box-shadow: 0 0 15px 1px rgba(220, 20, 60, 0.6);
            box-shadow: 0 0 15px 1px rgba(220, 20, 60, 0.6);
  }
  100% {
    -webkit-box-shadow: 0 0 4px 1px rgba(220, 20, 60, 0.2);
            box-shadow: 0 0 4px 1px rgba(220, 20, 60, 0.2);
  }
}

.grid.grid-them.them-forest .grid-container {
  -webkit-box-shadow: 0 0 40px 1px rgba(66, 235, 0, 0.2);
          box-shadow: 0 0 40px 1px rgba(66, 235, 0, 0.2);
}

.grid.grid-them.them-forest .grid-container #search-grid {
  color: #42eb00;
}

.grid.grid-them.them-forest select {
  color: #42eb00;
}

.grid.grid-them.them-forest .shadow-box-main {
  -webkit-box-shadow: 0 0 5px 1px rgba(66, 235, 0, 0.1);
          box-shadow: 0 0 5px 1px rgba(66, 235, 0, 0.1);
}

.grid.grid-them.them-forest .shadow-box-main:hover {
  -webkit-box-shadow: 0 0 5px 1px rgba(66, 235, 0, 0.2);
          box-shadow: 0 0 5px 1px rgba(66, 235, 0, 0.2);
}

.grid.grid-them.them-forest .shadow-box-main:focus {
  -webkit-box-shadow: 0 0 7px 1px rgba(66, 235, 0, 0.4);
          box-shadow: 0 0 7px 1px rgba(66, 235, 0, 0.4);
}

.grid.grid-them.them-forest .item-pagination {
  color: #00395f;
  -webkit-box-shadow: 0 0 5px 1px rgba(66, 235, 0, 0.3);
          box-shadow: 0 0 5px 1px rgba(66, 235, 0, 0.3);
}

.grid.grid-them.them-forest .item-pagination.selected {
  background-color: #2a9400;
}

.grid.grid-them.them-forest .item-pagination:active {
  -webkit-box-shadow: 0 0 5px 1px rgba(66, 235, 0, 0.1);
          box-shadow: 0 0 5px 1px rgba(66, 235, 0, 0.1);
}

.grid.grid-them.them-forest .spinner {
  border-color: rgba(66, 235, 0, 0.2);
  border-top-color: #42eb00;
}
/*# sourceMappingURL=Grid.css.map */