@import '../variable';
body {
    background-color: rgba(235, 235, 235, 0.61);
    background-color: #f5f5fc;

    direction: rtl;
    padding: 0;
    margin: 0;
    & > * {
        padding: 0 80px;
    }
    overflow-x: hidden;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
*{
    outline: 0;
}
#content>.center-center-container {
    padding: 50px 0;
}

// "\f078"
.menu-icon {
    transition: 0.5s;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    &:hover {
        opacity: 1;
        & > * {
            background-color: black;
            &:last-child {
                width: 100%;
            }
        }
    }
    & > * {
        transition: 0.5s;
        display: block;
        width: 100%;
        height: 3px;
        border-radius: 2em;
        background-color: slategray;
        &:last-child {
            width: 80%;
            align-self: flex-end;
        }
    }
}
.center-center-container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.notif-Box{
    padding:0;
    position: fixed;
    width:100%;
    height:0;
    top:0;
    left:0;
    z-index: 100000000000;
    display:flex;
    justify-content: center;
    align-items: flex-start;   
    color:white; 
    user-select: none;
    
    .notif{
        &.open{
            transform:translateY(50%);
        }
        transform:translateY(-100%);
        transition: 0.5s;
        margin-top:0;
        position: relative;
        z-index: 100000;
        min-width: 200px;
        padding:10px 40px;
        border-radius: 6px;
        background-color:transparent;
        font-size: 20px;
        font-weight: bold;
        .close{
            position: absolute;
            top: 0;
            left: 0;
            width:15px;
            height:15px;
            border-radius:2em;
            //background-color:red;
            transform: translate(20%,20%);
        }
        p.text-notif{
            display:none;
        }
        &.ok{
            background-color:rgba(0, 196, 16, 1);
            p.ok{
                display:block;
            }
        }
        &.not-ok{
            background-color:rgba(221, 0, 18, 1);
            p.not-ok{
                display:block;
            }
        }
    }
}
.spinner{
    vertical-align: middle;
    display:none;
    margin-left:10px;
    width:15px;
    height: 15px;
    border-radius: 2em;
    //background-color:red;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-top-color:white;
    &.isLoad{
        display: inline-block;
        animation: LoadingSpinner 0.5s  infinite ;
    }
}
@keyframes LoadingSpinner {
    0%{
        transform:rotateZ(0);
    }
    100%{
        transform:rotateZ(360deg);
    }
}
.main-shadow{
    box-shadow: 0 0 15px 1px rgba(0, 88, 146,0.4);   
    // $baseColor:rgb(0, 88, 146);
}
.error-message-text{
    color:red;
    font-size: 20px;
    font-weight: bold;
}


.shadow-box-main{
    transition: 0.3s;
    box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.1);
    &:hover {
        box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.2);
    }
    &:focus {
        box-shadow: 0 0 5px 1px #0163a580;
    }
}

body .top-section-moarefi{
    padding: 200px 0 300px;
    margin-bottom: 150px;
    position: relative;
    z-index: 0;
    .box-container-diatle{
        position: relative;
        z-index: 58;
    }
    .rokcet-holder{
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        .original-roket{
            float: left;
            margin:50px 90px;
            position: relative;
            z-index: 50;
        }
        .cloud-shape{
            position: absolute;
            z-index: 51;
            bottom:0;
            right: -100px;
            transform: translateY(0);
            animation:cloud-transition 5s infinite;
            img{
                width: 150%;
                height:150px;
            }   

        }
    }
    
}

@keyframes cloud-transition{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(50px);
    }
    0%{
        transform: translateY(0);
    }
}