body {
  background-color: rgba(235, 235, 235, 0.61);
  background-color: #f5f5fc;
  direction: rtl;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body > * {
  padding: 0 80px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  outline: 0;
}

#content > .center-center-container {
  padding: 50px 0;
}

.menu-icon {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-icon:hover {
  opacity: 1;
}

.menu-icon:hover > * {
  background-color: black;
}

.menu-icon:hover > *:last-child {
  width: 100%;
}

.menu-icon > * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2em;
  background-color: slategray;
}

.menu-icon > *:last-child {
  width: 80%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.center-center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notif-Box {
  padding: 0;
  position: fixed;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: 100000000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.notif-Box .notif {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 0;
  position: relative;
  z-index: 100000;
  min-width: 200px;
  padding: 10px 40px;
  border-radius: 6px;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
}

.notif-Box .notif.open {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.notif-Box .notif .close {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 2em;
  -webkit-transform: translate(20%, 20%);
          transform: translate(20%, 20%);
}

.notif-Box .notif p.text-notif {
  display: none;
}

.notif-Box .notif.ok {
  background-color: #00c410;
}

.notif-Box .notif.ok p.ok {
  display: block;
}

.notif-Box .notif.not-ok {
  background-color: #dd0012;
}

.notif-Box .notif.not-ok p.not-ok {
  display: block;
}

.spinner {
  vertical-align: middle;
  display: none;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  border-radius: 2em;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
}

.spinner.isLoad {
  display: inline-block;
  -webkit-animation: LoadingSpinner 0.5s  infinite;
          animation: LoadingSpinner 0.5s  infinite;
}

@-webkit-keyframes LoadingSpinner {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes LoadingSpinner {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.main-shadow {
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 88, 146, 0.4);
          box-shadow: 0 0 15px 1px rgba(0, 88, 146, 0.4);
}

.error-message-text {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.shadow-box-main {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.1);
          box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.1);
}

.shadow-box-main:hover {
  -webkit-box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.2);
          box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.2);
}

.shadow-box-main:focus {
  -webkit-box-shadow: 0 0 5px 1px #0163a580;
          box-shadow: 0 0 5px 1px #0163a580;
}

body .top-section-moarefi {
  padding: 200px 0 300px;
  margin-bottom: 150px;
  position: relative;
  z-index: 0;
}

body .top-section-moarefi .box-container-diatle {
  position: relative;
  z-index: 58;
}

body .top-section-moarefi .rokcet-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}

body .top-section-moarefi .rokcet-holder .original-roket {
  float: left;
  margin: 50px 90px;
  position: relative;
  z-index: 50;
}

body .top-section-moarefi .rokcet-holder .cloud-shape {
  position: absolute;
  z-index: 51;
  bottom: 0;
  right: -100px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: cloud-transition 5s infinite;
          animation: cloud-transition 5s infinite;
}

body .top-section-moarefi .rokcet-holder .cloud-shape img {
  width: 150%;
  height: 150px;
}

@-webkit-keyframes cloud-transition {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes cloud-transition {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=Base.css.map */