#content{
    padding: 50px;
}
#content .center-cetner-container{
    display: flex;
    flex-direction:column;
    align-items: center;
}
#content .center-cetner-container > div{
    padding:20px 10px;
    flex:1;
    width: 100%;
}
#content .center-cetner-container > div > div{
    width: 100%;
}

#content .center-cetner-container > .center-center-box{
    width: 60%;
}
#content .center-cetner-container > div > form{
    width: 100%;
}

.map{
    width: 40%;
    border-radius: 8px;
    overflow: hidden;
    margin:50px 0 20px;
    box-shadow: 0 0 20px 1px rgba(0, 88, 146, 0.3);
}
.map iframe{
    width:100%;
    height:600px;
}
.ditale-univecity{
    padding:20px 40px 0;
    box-sizing: border-box;
    font-size: 20px;
    color:  rgb(4, 125, 206);
    font-weight: bold;
}
.ditale-univecity .split{
    margin:0 5px;
    color: rgb(3, 54, 88);
}
