
#content {
    padding: 50px;
}
#content .center-cetner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content .tab-box-favorit{
    transition: 0.3s;
    width: 100%;
    height:100px;
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.1);
    border-radius: 5px;
    padding:5px;
    box-sizing: border-box;
    direction:ltr;
    cursor: text;
}
#content .tab-box-favorit:hover{
    width: 100%;
    height:100px;
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.2);
    border-radius: 5px;
    
}
#content .tab-box-favorit.active{
    box-shadow: 0 0 5px 1px rgba(1, 99, 165, 0.4);
}
