#content {
    padding: 50px 0;
}
#content .guids-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#content  .spinner.my-spinner{
    width:34px;
    border-width:3px;
    height:34px;
    border-color: rgba(102, 51, 153, 0.1);
    border-top-color:rebeccapurple ;
}
.guids-container .guid-item {
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px 15px 10px;
    box-sizing: border-box;
    display: inline-block;
    height: max-content;
    margin: 10px 0;

    min-width: 23%;
}
.guids-container .guid-item:hover {
    box-shadow: 0 0 25px 1px rgb(0, 88, 146, 0.5);
}

@media only screen and (max-width: 1200px) {
    .guids-container .guid-item {
        width: 40%;
    }
}

@media only screen and (max-width: 700px) {
    .guids-container .guid-item {
        width: 70%;
    }

    .guids-container .guid-item a {
        justify-content: center;
    }
}

.guids-container .guid-item .title-guid {
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: rgb(0, 88, 146);
}

.guids-container .guid-item .list-box-guid {
    margin-top: 15px;
}

.guid-item .list-box-guid .guid-li {
    padding: 5px 0;
}

.guid-item .list-box-guid .guid-li a {
    transition: 0.2s;
    color: rgb(48, 48, 48);
    padding: 5px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.guid-item .list-box-guid .guid-li a:hover {
    color: rebeccapurple;
}

.guid-item .list-box-guid .guid-li a:hover .icon {
    opacity: 1;
}

.guid-item .list-box-guid .guid-li .icon {
    background-color: red;
    width: 15px;
    height: 15px;
}

.guid-item .list-box-guid .guid-li .text-link {
    padding: 0 5px;
}

.refresh-container {
    direction: ltr;
}

.refresh-container .refresh-btn {
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
    border-width: 3px;
    border-top-color: blueviolet;
}

.refresh-container .refresh-btn:not(.isLoad) {
    border-bottom-color: blueviolet;
}

.refresh-container .refresh-btn.isLoad {
    border-color: rgba(137, 43, 226, 0.2);
    border-top-color: blueviolet;
}
.refresh-all-contaner{
    padding: 20px;
}
.refresh-all-contaner .btn-all-refresh{
    transition:0.3s;
    padding:10px 20px;
    background:rebeccapurple;
    color:white;
    border-radius: 5px;
    box-shadow:0px 0px 5px 1px rgba(102, 51, 153, 0.4);
    cursor: pointer;
}
.refresh-all-contaner .btn-all-refresh:not(.disabeld)hover{
    box-shadow:0px 0px 10px 1px rgba(102, 51, 153, 0.7);
}      
.refresh-all-contaner .btn-all-refresh:not(.disabeld):active{
    box-shadow:0px 0px 10px 1px rgba(102, 51, 153, 0.1);
}   
.refresh-all-contaner .btn-all-refresh.disabeld{
    opacity: 0.4;
    cursor: default;
}