#content{
    padding-top: 20px;
    padding-bottom: 20px;
}
.table-hodler .box-table{
    display:flex;   
}
.table-hodler .box-table > div{
   flex:1;  
   text-align:center;
   display:flex;
   flex-direction: column;
}
.table-hodler .box-table > div> p{
    flex: 1;
    margin: 0;
    padding:5px 0;
    display:flex;
    align-items: center;
    justify-content: center;
}
.table-hodler .box-table > div> p:nth-child(odd){
    background-color: white;
}
.table-hodler .box-table > div> p:nth-child(even){
    background-color: rgb(224, 224, 224);
}
.table-hodler .box-table .top{
    background-color: darkslateblue;
    color: white;
    padding: 10px 0;
}
.table-hodler .title-table{

    color: rgba(0, 88, 146, 1);
}