#content  .box-component .container-box {
  padding: 20px;
  display: flex;
  justify-content: center;
}
#content  .form{
  width: 80%;
}
.all-of-desc ul{
  padding:0 20px;
  list-style: decimal;
}
.all-of-desc li{
  padding:5px;
}
.pictuer{
  width:300px;
  height: 300px;
  /* background-color: red; */
  margin: 0 auto;
  border: 1px solid rgb(209, 209, 209);
}
.pictuer img{
  width:100%;
  height:100%;
}