#content  .box-component .container-box {
    padding: 20px;
    display: flex;
    justify-content: center;
}
#content  .form{
    width: 80%;
    box-shadow: 0 0 40px 1px rgba(0, 88, 146, 0.3);
    padding:20px;
    box-sizing: border-box;
    border-radius:6px ;
}
.all-of-desc ul{
    padding:0 20px;
    list-style: square;
}
.all-of-desc li{
    padding:5px;
}
.pictuer{
    width:300px;
    height: 300px;

    margin: 0 auto 15px;
    border: 1px solid rgb(209, 209, 209);
}
.pictuer img{
    width:100%;
    height:100%;
}