@charset "UTF-8";
.tree-comments {
  margin: 0;
  list-style: none;
  padding: 5px 10px;
}

.comment {
  margin: 10px 0;
}

.comment.select-for-replyed > .comment-ditale-box {
  -webkit-box-shadow: 0 0 8px 1px #8800f780;
          box-shadow: 0 0 8px 1px #8800f780;
}

.comment.select-for-replyed > .comment-ditale-box:hover {
  -webkit-box-shadow: 0 0 8px 1px #8800f780;
          box-shadow: 0 0 8px 1px #8800f780;
}

.comment .tree-comments {
  padding: 5px 15px;
}

.comment .comment-ditale-box {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 4px 1px #81818155;
          box-shadow: 0 0 4px 1px #81818155;
}

.comment .comment-ditale-box:hover {
  -webkit-box-shadow: 0 0 7px 1px #81818180;
          box-shadow: 0 0 7px 1px #81818180;
}

.comment .text-box .sender-comment {
  font-size: 17px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.comment .text-box .sender-comment .sender-pic {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border: 2px solid #acacac;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px;
}

.comment .text-box .sender-comment .no-pic {
  background: url(./user-male.png) no-repeat 50%;
  background-size: 70%;
}

.comment .text-box .sender-comment .sender-pic img {
  width: 100%;
  height: 100%;
}

.comment .text-box .sender-comment .sender-name {
  margin: 0 5px;
  vertical-align: middle;
}

.comment .text-box .message-comment {
  display: inline;
  margin: 0 10px;
  color: #555;
}

.comment .end-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 20px;
}

.comment .end-box-container .reply-box {
  cursor: pointer;
  color: darkorchid;
  font-weight: bold;
  padding: 0 20px;
}

.comment .end-box-container .see-more-box {
  color: cadetblue;
  cursor: pointer;
}

.comment .see-more-checkbox {
  display: none;
}

.comment .see-more-checkbox .see-more-comment {
  display: inline-block;
}

.comment .see-more-checkbox:checked ~ .tree-comments {
  display: block;
}

.comment .see-more-checkbox:checked + .comment-ditale-box .see-more-comment::after {
  content: "بستن";
}

.comment .see-more-checkbox ~ .tree-comments {
  display: none;
}

.comment .see-more-checkbox + .comment-ditale-box .see-more-comment::after {
  content: "مشاهده بیشتر";
  cursor: pointer;
}

.comment .see-more-checkbox + .comment-ditale-box .see-more-comment.spinner.isLoad,
.comment .see-more-checkbox:checked + .comment-ditale-box .see-more-comment.spinner.isLoad {
  border-color: rgba(100, 148, 237, 0.425);
  border-top-color: cornflowerblue;
}

.comment .see-more-checkbox + .comment-ditale-box .see-more-comment.spinner.isLoad::after,
.comment .see-more-checkbox:checked + .comment-ditale-box .see-more-comment.spinner.isLoad::after {
  content: "";
}

.spinner {
  vertical-align: middle;
  display: none;
  width: 15px;
  height: 15px;
  border-radius: 2em;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
}

.spinner.isLoad {
  display: inline-block;
  -webkit-animation: LoadingSpinner 0.5s  infinite;
          animation: LoadingSpinner 0.5s  infinite;
}

@-webkit-keyframes LoadingSpinner {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes LoadingSpinner {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
/*# sourceMappingURL=Comment-Tree.css.map */