.tree-comments {
    margin: 0;
    list-style: none;
    padding: 5px 10px;
}
.comment {
    margin: 10px 0;

    &.select-for-replyed {
        & > .comment-ditale-box {
            box-shadow: 0 0 8px 1px #8800f780;
            &:hover {
                box-shadow: 0 0 8px 1px #8800f780;
            }
        }
    }
    .tree-comments {
        padding: 5px 15px;
    }
    .comment-ditale-box {
        transition: 0.3s;
        padding: 5px;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: 0 0 4px 1px #81818155;
        &:hover {
            box-shadow: 0 0 7px 1px #81818180;
        }
    }
    .text-box {
        .sender-comment {
            font-size: 17px;
            font-weight: bold;
            color: #333;
            cursor: pointer;
            display: inline-block;
            user-select: none;
            .sender-pic {
                display: inline-block;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                vertical-align: middle;
                border: 2px solid rgb(172, 172, 172);
                box-sizing: border-box;
                padding: 3px;
            }
            .no-pic {
                background: url(./user-male.png) no-repeat 50%;
                background-size: 70%;
            }
            .sender-pic img {
                width: 100%;
                height: 100%;
            }
            .sender-name {
                margin: 0 5px;
                vertical-align: middle;
            }
        }
        .message-comment {
            display: inline;
            margin: 0 10px;
            color: #555;
        }
    }
    .end-box-container {
        display: flex;
        justify-content: space-between;
        padding: 5px 20px;
        .reply-box {
            cursor: pointer;
            color: darkorchid;
            font-weight: bold;
            padding: 0 20px;
        }
        .see-more-box {
            color: cadetblue;
            cursor: pointer;
        }
    }
    .see-more-checkbox {
        display: none;
        .see-more-comment{
            display: inline-block;
        }
        &:checked {
            & ~ .tree-comments {
                display: block;
            }
            & + .comment-ditale-box {
                .see-more-comment::after {
                    content: "بستن";
                }
            }
        }
        & ~ .tree-comments {
            display: none;
        }
        & + .comment-ditale-box {
            .see-more-comment::after {
                content: "مشاهده بیشتر";
                cursor: pointer;
            }
        }
        & +  .comment-ditale-box ,
        &:checked + .comment-ditale-box {
            .see-more-comment.spinner.isLoad{
                border-color: rgba(100, 148, 237, 0.425);
                border-top-color: cornflowerblue;
                &::after {
                    content:"";
                }
            }
        }
    }
}
.spinner{
    vertical-align: middle;
    display:none;
    width:15px;
    height: 15px;
    border-radius: 2em;
    //background-color:red;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-top-color:white;
    &.isLoad{
        display: inline-block;
        animation: LoadingSpinner 0.5s  infinite ;
    }
}
@keyframes LoadingSpinner {
    0%{
        transform:rotateZ(0);
    }
    100%{
        transform:rotateZ(360deg);
    }
}
